.cart-item {
    display: flex;
    gap: 0 0.5rem;
    padding: 1em 1em 1em 0;
}

.cart-item:not(:last-child) {
    border-bottom: 1px solid var(--cultured-2);
}

.cart-item > img {
    min-width: 7rem; height: 5.5rem;
    border-radius: 15px;
    object-fit: cover;
}

.cart-item__details {
    flex-basis: 100%;
}

.cart-item__details > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item__details-row1 {
    margin-bottom: 0.3em;
}

.cart-item__details-row1 span:first-child {
    font-family: var(--literata);
    font-size: 1.1rem;
    font-weight: 500;
}

.cart-item__details-row1 span:last-child {
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--green-ryb);
    color: var(--white);
    padding: 0.1em 0.6em;
    border-radius: 5px;
}

.cart-item__details-row2 div span {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
}

.cart-item__details-row2 div button {
    border-radius: 5px;
    font-size: 0.9rem;
    /* border: 1px solid var(--green-ryb); */
    border: 0;
    min-width: 1.5rem;
    min-height: 1.5rem;
    background: var(--cultured-2);
    color: var(--green-ryb);
    font-weight: 500;
    cursor: pointer;
}

.cart-item__details-row2 div button:hover {
    background-color: var(--green-ryb);
    color: var(--white);
}

.cart-item__details-row2 div button:first-of-type {
    margin-right: 0.5em;
}

.cart-item__details-row2 > span {
    text-align: right;
}


