.card-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(13rem, 1fr)); */
    gap: 1.5rem;
    margin-top: 2em;
}

.card-list__row4 {
    grid-template-columns: repeat(auto-fit,minmax(14rem, 1fr));
}

.card-list__row5 {
    grid-template-columns: repeat(auto-fit,minmax(12rem, 1fr));
}