.category-card {
    max-height: 10rem; min-width: 10rem;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.category-card > div:first-child {
    position: absolute;
    top: -0.9px; left: 0;
    padding: 0.5em 1.5em 0.5em 1em;
    font-size: 0.9rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 15px 0 15px 0;
}

.category-card > img {
    height: 100%; width: 100%;
    object-fit: cover;
    border-radius: 15px;
}


