.hero {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
    gap: 1rem;
    width: 100%;
    min-height: 65vh;
}

.hero__left {
    background-image: linear-gradient(120deg, var(--cultured) 40%, rgba(0,0,0,0) 60%),
    url('../../assets/banner4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 68%;
    border: 2px solid var(--white);
    border-radius: 30px 0 0 30px;
    padding: 2em 2em;
    position: relative;
}

.hero__left h1 {
    width: 18ch;
}

.hero__left h1 span {
    font-family: var(--literata);
    color: var(--deep-saffron);
}

.hero__left p {
    width: 30ch;
    font-size: 0.975rem;
    color: var(--eerie-black);
    margin: 1.3em 0;
}

.hero__left-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.hero__left-card {
    position: absolute;
    padding: 1em 0.8em;
    line-height: 1.2;
    font-size: 0.875rem;
    box-shadow: var(--box-shadow3);
    text-align: center;
}

.hero__left-card:nth-of-type(2) {
    top: -25px; left: 35%;
    max-width: 10rem;
    text-transform: none;
}

.hero__left-card:last-of-type {
    bottom: -35px; left: 50%;
    min-width: 12rem;
}

.hero__left-card:last-of-type > div {
    display: flex;
    justify-content: center;
    margin-top: 0.6em;
}

.hero__left-card:last-of-type > div > * {
    height: 2rem; width: 2rem;
    border-radius: 50%; 
    border: 2px solid var(--pastel-green);
}

.hero__left-card:last-of-type > div > *:not(:first-child) {
    margin-left: -0.8rem;
}

.hero__left-card:last-of-type > div div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background: var(--pastel-green);
}

.hero__right {
    flex: 1 1 20%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 200px;
}

.hero__right div {
    flex: 1 1 auto;
    min-width: 13.75rem;
    padding: 1em;
    border-radius: 0 30px 30px 0;
}

.hero__right div:first-child {
    background: var(--cultured);
}

.hero__right div:last-child {
    background: var(--pastel-green);
}


.hero__right div h2 {
    width: 10ch;
    /* text-align: left; */
    font-size: 1.2rem;
    font-weight: 500;
}

.hero__right div .btn {
    margin-top: 0.8em;
}

.hero__right div img {
    text-align: right;
    margin-top: 0.8em;
    margin-left: auto;
}

.hero__right div:last-child img {
    height: 6rem; 
    transform: scaleX(-1);
}
.hero__right div:first-child img {
    height: 5rem; 
    transform: scaleX(-1);
}

.hero__right div:last-child img {
    height: 6rem; 
    transform: scaleX(-1);
}




/* 900px */
@media (max-width: 56.25em) {

    .hero {
        flex-direction: column;
        row-gap: 3rem;
    }


    .hero__left,
    .hero__right div {
        border-radius: 30px;
    }
}

/* 768px */
@media (max-width: 48em) {
    .hero__left {
        width: 100%;
        padding: 4em 1em;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(130deg, rgba(255, 255, 255, 0), var(--cultured), 
                                                    var(--cultured-2), rgba(255,255,255,0)),
                                                    url('../../assets/banner4.jpg');
        background-size: cover;
        background-attachment: scroll;
    }

    .hero__left h1,
    .hero__left p {
        width: 100%;
        color: var(--eerie-black);
    }

    .hero__left-btns {
        justify-content: center;
    }

    .hero__left-card:nth-of-type(2),
    .hero__left-card:last-of-type {
        left: 50%;
        transform: translateX(-50%);
    }

    
}