.section-title {
    display: flex;
    gap: 1rem;
}

.section-title__left {
    flex: 1 1 50%;
}

.section-title__left > div {
    max-width: fit-content;
    padding: 0.2em 0.8em;
    border-radius: 5px;
    font-weight: 500;
    color: var(--white);
    background: var(--pastel-green2);
    font-size: 0.9rem;
}

.section-title__right  {
    flex: 1 1 auto;
}

.section-title__right p {
    text-align: right;
}

.section-title__right-btn {
    display: block;
    margin-top: 1em;
    margin-left: auto;
}

/* 768px */
@media (max-width: 48em) {
    .section-title {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-title__left > div {
        margin: auto;
    }
    
    .section-title__right p {
        text-align: center;
    }

    .section-title__right-btn {
        margin: 1em auto 0 auto;
    }
}